<div class="jumbotron">
	<h1>Chris J.</h1>
	<p>Astoria, Queens native. Boston College Student. Everything happens for a reason. Try to see all of the open doors.</p>
	<p>chrisjaroszewski@gmail.com</p>
</div>
